body {
    font-family: "Montserrat", sans-serif;
}

h1 {
    font-size: 3rem;
}

.description {
    font-size: 1.5rem;
    text-align: center;
}

.calculator-wrapper {
    border: solid 10px rgba(51, 155, 152, 0.705);
    border-radius: 8px;
    padding: 1rem;
}

#calculator {
    background-color: rgb(116, 116, 116);
    border-radius: 15px;
    max-width: 500px;
    overflow: hidden;
}

#display{
    width: 100%;
    font-size: 5rem;
    text-align: left;
    border: none;
    background-color: rgb(145, 145, 145);
    color: rgb(0, 0, 0);
    padding: 10px;
}

#keys {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
    padding: 25px;
}

.button {
    width: 100px;
    height: 100px;
    border: 2px solid rgb(210, 210, 210);
    background-color: rgb(0, 0, 0);
    color: rgb(255, 255, 255);
    border-radius: 25px;
    font-size: 2.75rem;
}